@import "../node_modules/bootstrap/scss/bootstrap";

body,
html {
  height: 100%;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home {
  width: calc(100%);
  height: calc(100%);
  margin: 50px;
}

.card-body{
  padding: 100px;
}

.profile-pic{
  border-radius: 50%;
}
